{% extends "form_base.html" %}
{% block midpart %}
{% if error %}
    <p style="color:red;">{{error}}</p>
{% endif %}
{% if added %}
Book Recieved Successfully
<input type="button" onclick="close_window()" value="Close" />
{% else %}
<form action="/recieved/{{bb.id}}/" method="POST"> {% csrf_token %}
    <table border="0" cellspacing="5" cellpadding="5" style="width:620px;text-align:left;">
        <tr>Book : <input type="text" value="{{book}}" readonly/></tr><br/>
        <tr>Student ID:<input type="text" name="sid"/></tr><br/>
        <tr>Satff ID:<input type="text" name="tid"/></tr></br>
    </table>
    <input type="submit" value ="ISSUE">
</form>
{% endif %}
{% endblock %}

